.card {
  @extend .shdw-md;
  overflow: hidden;
  border: none;
  border-radius: $border-radius-lg;

  .pagination {
    margin: 0;
  }
}

.card-header, .card-footer {
  border: none;
}

.card-title {
  font-size: $card-title-font-size;
  font-weight: $card-title-font-weight;
}

.card-footer.btn {
  width: 100%;

  &.btn-castme {
    background: color('castme');
  }
}

.card-block {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-link {
  outline: none;

  &.btn-link, &.btn-link + .btn {
    margin: 0;
  }
}

.post-card {
  @extend .mt-3, .bg-white;
  border-radius: $border-radius-lg;

  &--lg {
    .post-card__frame {
      height: 300px;
    }
  }

  &--sm {
    .post-card__frame {
      height: 100px;
    }

    .post-card__info {
      @extend .p-3;
    }
  }

  &__link:hover {
    text-decoration: none;
  }

  &__info {
    @extend .p-3, .w-100;
    z-index: $zindex-popover;
  }

  &__title, &__author {
    @extend .m-0;
    color: color('gray-dark');
  }

  &__title {
    font-size: 1.5rem;
    color: color('gray-dark');
  }

  &__roles {
    @extend .mt-2, .mb-3, .mx-3;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__frame {
    @extend
      .shdw-md,
      .d-flex,
      .align-items-center,
      .justify-content-center,
      .w-100;
    position: relative;
    overflow: hidden;
    height: 200px;
    border-radius: $border-radius-lg;
    filter: brightness(150%);

    &:hover {
      @extend .shdw;
    }

    &__img {
      @extend .w-100, .h-100;
      object-fit: cover;
    }
  }
}