img {
  width: 100%;
}

.material-icons {
  font-size: 1rem;
}

main.container {
  margin: 5rem auto;
}

.page-header {
  @extend .pb-2, .mt-4, .mb-5;
  border-bottom: 1px solid $input-border-color;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}