body {
  background: $body-bg;
}

img.responsive {
  width: 100%;
}

img {
  max-width: 100%;
}

#wrapper {
  margin: $wrapper-margin;
}

.page-header {
  @extend .pb-2, .mt-4, .mb-5;
  font-weight: $font-weight-bold;
  color: var(--gray-dark);
  border-bottom: 1px solid $input-border-color;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}