input, button, select, optgroup, textarea {
  &.form-control:not(.bootstrap) {
    padding-left: 0;
    border: none;
    border-bottom: 1px solid $input-border-color;
    border-radius: 0;
    color: $black;
    
    &:focus {
      box-shadow: none;
    }
  }
}

.pagination {
  flex-wrap: wrap;
  
  .page-item .page-link {
    margin-bottom: 0;
    border-radius: 0;
  }
}

.valid-feedback, .invalid-feedback {
  &.feedback-icon {
    position: absolute;
    width: auto;
    bottom: .5rem;
    right: 1.5rem;
    margin-top: 0;
  }
}

.file-zoom-dialog {
  .file-other-icon {
    font-size: 15em;
  }
}