input, button, select, optgroup, textarea {
  &.form-control:not(.bootstrap) {
    padding-left: 0;
    border: none;
    border-bottom: 1px solid $input-border-color;
    border-radius: 0;
    color: $black;
    
    &:focus {
      box-shadow: none;
    }
  }
}

.pagination {
  flex-wrap: wrap;
  
  label.page-link {
    margin-bottom: 0;
  }
}