.list-group {
  @extend .shdw-boxed, .bg-white;
  overflow: hidden;
  border-radius: $border-radius-lg;

  .list-group-item {
    background: none;
    border-width: 0 0 0 4px;
    border-color: color('gray');
    border-radius: 0;
  
    color: color('gray');
    text-decoration: none;

    transition: $transition-base;
    
    &.active, &:hover {
      border-left: 4px solid color('castme');
      color: color('castme');
    }
  }
}
