.navbar-brand img {
  max-height: $navbar-brand-logo-height;
  width: auto;
}

.navbar {
  @extend .bg-white;
  height: 80px;
}

a[class='nav-link'] {
  .fa,
  .fas,
  .far {
    margin-left: .5rem;
  }
}

.dropdown-toggle {
  .fa, 
  .fas, 
  .far {
    + .badge {
      position: absolute;
      top: .1rem;
      left: .95rem;
      border-radius: 50%;
    }
  }
}