.navbar-brand img {
  max-height: 50px;
  width: auto;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a[class='nav-link'] {
  .fa,
  .fas,
  .far {
    margin-left: .5rem;
  }
}

.dropdown-toggle {
  .fa, 
  .fas, 
  .far {
    + .badge {
      position: absolute;
      top: .1rem;
      left: .95rem;
      border-radius: 50%;
    }
  }
}