$shdw:          $shdw-x $shdw-y           $shdw-blur            $shdw-color-sm;
$shdw-text:     $shdw-x #{$shdw-y / 2}    #{$shdw-blur / 2}     $shdw-color-sm;

$shdw-sm:       $shdw-x $shdw-y-sm        $shdw-blur-sm         $shdw-color-sm;
$shdw-sm-text:  $shdw-x #{$shdw-y-sm / 2} #{$shdw-blur-sm / 2}  $shdw-color-sm;

$shdw-md:       $shdw-x $shdw-y-md        $shdw-blur-md         $shdw-color-sm;
$shdw-md-text:  $shdw-x #{$shdw-y-md / 2} #{$shdw-blur-md / 2}  $shdw-color-sm;

$shdw-lg:       $shdw-x $shdw-y-lg        $shdw-blur-lg         $shdw-color-sm;
$shdw-lg-text:  $shdw-x #{$shdw-y-lg}     #{$shdw-blur-lg / 2}  $shdw-color-sm;

.shdw-none {
  -webkit-filter: drop-shadow(none);
  filter: drop-shadow(none);
}

.shdw {
  filter: drop-shadow($shdw);
  transition: $transition-base;
}

.shdw-boxed {
  box-shadow: $shdw;
  transition: $transition-base;
}

.shdw-text {
  text-shadow: $shdw-text;
}

.shdw-sm {
  filter: drop-shadow($shdw-sm);
  transition: $transition-base;
}

.shdw-sm-boxed {
  box-shadow: $shdw-sm;
  transition: $transition-base;
}

.shdw-text-sm {
  text-shadow: $shdw-sm-text;
}

.shdw-md {
  filter: drop-shadow($shdw-md);
  transition: $transition-base;
}

.shdw-md-boxed {
  box-shadow: $shdw-md;
  transition: $transition-base;
}

.shdw-text-md {
  text-shadow: $shdw-md-text;
}

.shdw-lg {
  filter: drop-shadow($shdw-lg);
  transition: $transition-base;
}

.shdw-lg-boxed {
  box-shadow: $shdw-lg;
  transition: $transition-base;
}

.shdw-text-lg {
  text-shadow: $shdw-lg-text;
}