.sidebar {
  &.affix {
    position: fixed;
    top: 50px;
  }

  .list-group {
    width: 200px;

    .list-group-item {
      font-weight: bold;
    }
  }

  &__user__avatar {
    height: 5rem;
    width: 5rem;
  }

  &__user__name {
    @extend .h5, .mt-2;
  }
}
