.sidebar {
  &.affix {
    position: fixed;
    top: 50px;
  }

  .list-group {
    @extend .shdw-boxed, .bg-white;
    overflow: hidden;
    width: 200px;
    border-radius: $border-radius-lg;
  }

  .list-group-item {
    background: none;
    border-width: 0 0 0 4px;
    border-color: $gray-500;
    border-radius: 0;

    font-weight: bold;
    color: $gray-500;
    text-decoration: none;
    
    &.active {
      border-left: 4px solid $primary-color;
      color: $primary-color;
    }
  }
}