.sidebar {
  &.affix {
    position: relative;
    top: 0px;
  }

  .list-group {
    width: 100%;

    .list-group-item {
      font-weight: bold;
    }
  }

  &__user__avatar {
    height: 5rem;
    width: 5rem;
  }

  &__user__name {
    @extend .h5, .mt-2;
  }
}
