.ElementsApp, .ElementsApp .InputElement {
  color: rgba(black, .87) !important;
}

.StripeElement {
  @extend .shdw-sm;
  padding: 0 .5rem;
  background: $white;
  border-radius: 0.25rem;
  border: 1px solid transparent;

  &.is-focused {
    @extend .shdw-md;
  }

  &.is-invalid {
    border-color: #fa755a;
  }

  &--webkit-autofill {
    background-color: #fefde5 !important;
  }
}