.btn.tile {
  @extend .my-3, .w-100, .d-flex, .flex-wrap, .align-items-center, .justify-content-center, .shdw;
  height: $tile-height;

  background: $primary-color;
  border: none;
  font-size: $tile-font-size;
  color: white;

  .fa,
  .fas,
  .far {
    width: 100%;
    font-size: #{$tile-font-size * 2};
  }
}