// Laravel
$laravel-navbar-background: #FFF;
$laravel-navbar-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

// Body
$body-bg: #f5f8fa url(https://castme.dk/pimg/bg2.jpg) no-repeat center center;
$body-bg-size: cover;
$body-bg-attachment: fixed;

$wrapper-margin: 5rem auto;

// Colors
$primary-color: #5f91c3;
$primary: $primary-color; // Reset Bootstrap primary color

// Typography
$line-height-base: 1.6;
$font-weight-bold: 800;

// Shadows
$shdw-x: 0;

$shdw-y: .5rem;
$shdw-y-sm: .125rem;
$shdw-y-md: .125rem;
$shdw-y-lg: 1rem;

$shdw-blur: 1rem;
$shdw-blur-sm: .25rem;
$shdw-blur-md: .5rem;
$shdw-blur-lg: 3rem;

$shdw-color: rgba(0, 0, 0, 0.3);
$shdw-color-sm: rgba(0, 0, 0, 0.15);
$shdw-color-md: rgba(0, 0, 0, 0.225);
$shdw-color-lg: rgba(0, 0, 0, 0.35);

// Cards
$card-title-font-size: 1.25rem;
$card-title-font-weight: $font-weight-bold;
$card-header-border: 1px solid rgba(0, 0, 0, 0.125);
$post-card-margin: 1rem 0;

// TinyMCE
$editor-margin: 1rem 0;

// Navbar
$navbar-brand-logo-height: 50px;

// Tile buttons
$tile-height: 10rem;
$tile-font-size: 1.5rem;